/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */


.node /* Node wrapper */ {
}

.node-sticky /* A sticky node (displayed before others in a list) */ {
}

.node-unpublished /* Unpublished nodes */ {
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

div.unpublished,
.comment-unpublished div.unpublished /* The word "Unpublished" displayed underneath the content. */ {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; /* A very nice CSS3 property */
  /* CSS3 goodies */
  -webkit-transform: rotate(-45deg); 
  -moz-transform: rotate(-45deg);	
  z-index:-1;
  position:relative;
  top:200px;
  opacity:0.8;
/*float: right;
font-style: italic;
color: orange;
background: none repeat scroll 0% 0% black;
position: relative;
  top: -2px;
border-radius: 5px 5px 5px 5px;
padding: 2px 5px;

*/
}

.node-by-viewer /* A node created by the current user */ {
}

.node-teaser /* A node displayed as teaser */ {
}

/* All nodes are given a node-type-FOO class that describes the type of
 * content that it is. If you create a new content type called
 * "my-custom-type", it will receive a "node-type-my-custom-type" class.
 */
.node-type-page /* Page content node */ {
}

.node-type-story /* Story content node */ {
}

.node h2.title /* Node title */ {
}

.marker /* "New" or "Updated" marker for content that is new or updated for the current user */ {
  color: #c00;
}

.node .picture /* The picture of the node author */ {
}

.node.node-unpublished .picture,
.comment.comment-unpublished .picture {
  position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
}

.node .meta /* Wrapper for submitted and terms data */ {
}

.node .submitted /* The "posted by" information */ {
}

.node .terms /* Node terms (taxonomy) */ {
}

.node .content /* Node's content wrapper */ {
}

.node ul.links /* Node links. See also the ul.links declaration in the pages.css. */ {
}

.preview .node /* Preview of the content before submitting new or updated content */ {
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}


/* ANNOUNCES */
.announce {
    position: relative;
/*    padding: 72px 0px 0px 0px;*/
    margin-bottom:24px;
}

.announce h2,
.announce p {
    display: inline;
}



.field-field-announce-image {
    position: absolute;
    top:12px;
    left:10px;
    width:60px;
    overflow: hidden;
}

.field-field-announce-image img {
    width:60px;
    height:60px;
}

.announce-inside {
    background: #fcd116;
    padding: 12px 10px 12px 90px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px #999999;
}

.field-field-button-link a {
    color:white;
    font-weight: bold;
    display: block;
    float:right;
    background: maroon;
    padding: 2px 5px 2px;
    position: relative;
    top: -2px;
    box-shadow: 0px 0px 10px #111;
    border-radius: 5px;
    text-align: center;
}

/* Fixes */
.uc_out_of_stock_throbbing {
    display:none;
}